@model IEnumerable<ProjetCRMStagiaire.Core.Data.Inscription>


@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
  @*  <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@


    <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdActiviteSportive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StagiaireId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateInscription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem =>  item.IdActiviteSportive )
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stagiaire.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateInscription)
            </td>
            <td>
               
                <a asp-action="Details" asp-route-id="@item.InscriptionId">Details</a> 
            </td>
        </tr>
}
    </tbody>
</table>
</div>
