@model IEnumerable<ProjetCRMStagiaire.Core.Data.Inscription>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdActiviteSportive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stagiaire)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateInscription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdActiviteSportive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stagiaire.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateInscription)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.InscriptionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.InscriptionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.InscriptionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
